/* Members */
.membersWrap-3wRngy:not(#dv-mount){
	min-width:50px!important;
	max-width:240px!important;
	width:50px;
	transition: width .5s;
}

.membersWrap-3wRngy:hover:not(#dv-mount){
	width:240px;
	transition: width .6s;
}
#dv-main .dv-date{
  white-space: normal ;
}
