body:before {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100vw !important;
    background: #e6e600 !important;
    content: "Update #4 Available!" !important;
    animation: fadeUpdateNotification linear 6s 1 normal forwards !important;
    animation-delay: 3s !important;
    z-index: 999999999 !important;
    line-height: 2em !important;
    color: black !important;
    font-weight: bold !important;
    text-align: center !important;
    opacity: 1 !important;
}

@keyframes fadeUpdateNotification {
    0% { opacity: 1 !important; }
    100% { opacity: 0 !important; content: initial !important; }
    0%,99.9% { content: "Update #4 Available!" !important; }
}