body:before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    content: "Update #2 Available!";
    background: rgba(255, 255, 0, .1);
	 animation: fade 8s linear 6s 1 linear;
	 z-index: 999999999;
    line-height: 2em;
    color: white;
    text-align: center;
}

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}