#app-mount::before {
    content: 'Update #4 Available!';
    z-index: 999999999999;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    line-height: 2em;
    color: #FFF;
    width:100%;
    text-align: center;
    background: rgba(255, 255, 0, .1);
    animation: fade 5s ease;
    animation-delay: 3s;
    animation-iteration-count: 1;
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}