/*//META{"name":"Do_NOT_Use_Better_Docs","description":"Support Server: https://nfld99.com/discord","author":"NFLD99","version":"ersion auto updates","website":"https://nfld99.com/","source":"https://github.com/NFLD99/Better-Discord"}*//**/
/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/No.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/No.css);
/* Minimal Mode */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Minimal/No.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/Yes.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/Yes.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/Yes.css);
/* Guild List */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Guilds/Yes.css);
/* Invites */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/Yes.css);
/* Member List */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/Yes.css);
/* Offline Members */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
/* Transparency Patch */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/Yes.css);
:root {
  --Main-Colour: rgba(0, 0, 0, 0);
  --Background-Colour: var(--Main-Colour);
  --Secondary-Background-Colour: var(--Main-Colour);
  --Secondary-Main-Colour: var(--Main-Colour);
  --Text-Shadow-Colour: var(--Main-Colour);
  --Scroller-Colour: var(--Main-Colour);
  --Notification-Colour: var(--Main-Colour);
  --Chat-Input-Background: var(--Main-Colour);
  --Chat-Input-Colour: var(--Main-Colour);
  --Unread-Message-1: var(--Main-Colour);
  --Unread-Message-2: var(--Main-Colour);
  --Chat-Background: transparent;
  --Settings-Background: transparent;
  --Callout-Background: transparent;
  --Title-Background: url(https://nfld99.com/images/BetterDocsWarnBadFile.png);
  --Theme-Variant: "Do NOT Use Better Docs";
  --Chat-Font-Used: ;
  --Chat-Font-Size: 0px;
  --Unread-Message-Speed: 0s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Callout-Background);
  --Popout-Text-Shadow-Colour: var(--Main-Colour);
  --Emote-Popout-Background: var(--Main-Colour);
  --load1: "Do NOT!";
  --load2: "Use Better Docs";
  --load3: "➢NFLD99";
  --File-Updated-2019-05-09: "2019-05-09";
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Main-Colour);
  --Background-Darkness: 0;
  --Guild-Columns: 0;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 10%;
}
