//META{"name":"Mari_Ohara","description":"Mari Ohara Theme","author":"NFLD99","version":"13.0"}*//{}
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Master_Code.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Animations/Yes.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Fonts/Yes.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Grid/Yes.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Minimal/No.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Popup/Yes.css);
:root {
  --Main-Colour: rgba(179, 120, 211, 1);
  --Background-Colour: rgba(0,0,0, 1);
  --S-Colour: rgba(0,0,0, .3);
  --M-Colour: rgba(179, 120, 211, .5);
  --Text-Shadow-Colour: rgba(0,0,0, .65);
  --Scroller-Colour: rgba(179, 120, 211, 0);
  --Notification-Colour: rgba(179, 120, 211, 1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: var(--S-Colour);
  --Settings-Background: var(--S-Colour);
  --Callout-Background: var(--S-Colour);
  --Status-Show-Dot: 0;
  --Status-Show-Border: 1;
  --Title-Background: url(https://pm1.narvii.com/6195/6ca8cbb902db7e443c29d13fad7a13ebd78c2443_hq.jpg);
  --Theme-Variant: " Mari Ohara";
  --Tpying-Rainbow: 0.2;
  --Chat-Font-Used: ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
}