//META{"name":"The_Doc","description":"Github: https://git.io/v7ovg ,Support Server Link: https://discord.gg/aSyUs69","author":"NFLD99","version":"ersion auto updates"}*//{}
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Master_Code.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Animations/No.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Fonts/No.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Grid/Yes.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Minimal/No.css);
@import url(https://rawgit.com/NFLD99/Better-Discord/master/Source_Code/Use_Popup/Yes.css);
:root {
  --Main-Colour: rgba(0,132,234,1);
  --Background-Colour: rgba(0,0,0,1);
  --S-Colour: rgba(0,0,0,.3);
  --M-Colour: rgba(0,132,234,.5);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(0,132,234,0);
  --Notification-Colour: rgba(0,132,234,1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/ZC9fSn2.jpg);
  --Settings-Background: url(https://i.imgur.com/ZC9fSn2.jpg);
  --Callout-Background: url(https://i.imgur.com/ZC9fSn2.jpg);
  --Status-Show-Dot: 0;
  --Status-Show-Border: 1;
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " The Doc";
  --Tpying-Rainbow: 0;
  --Chat-Font-Used: ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
}
