/* Ace Rimmer#6993 */
.wrapper-3t9DeA[user_by_bdfdb="197406501264949248"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/197406501264949248"]::before {
  content: url(https://nfld99.com/images/Boops/Ace_Rimmer.png);
}

.wrapper-3t9DeA[user_by_bdfdb="197406501264949248"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/197406501264949248"]::after {
  content: "Hey I'm Ace Rimmer. \a Smoke me a kipper, I'll be back for breakfast \a 15th Donator";
}

[class*="topSection"] .image-33JSyf[style*="197406501264949248"] + .status-oxiHuE:before {
  content:url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 115" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="8" style="font-size: 1em;" x="208">Donator</text><text y="42" style="font-size: 1em;" x="28">Smoke me a kipper, I\'ll be back for breakfast</text></g></svg>');
} 

/* Ace Rimmer#6993 */