/* Message logger Blocker */

html:first-child:last-child:only-child > head:first-child + body:last-child * #plugin-settings-MessageLogger:before,
html:first-child:last-child:only-child > head:first-child + body:last-child * #MessageLogger-changelog:before,
html:first-child:last-child:only-child > head:first-child + body:last-child * #message-logger-window:before,
html:first-child:last-child:only-child > head:first-child + body:last-child * .ml-deleted:before,
html:first-child:last-child:only-child > head:first-child + body:last-child * .ml-edited > em:before,
html:first-child:last-child:only-child > head:first-child + body:last-child * .ml-edited > .edited-DL9ECl:before,
html:first-child:last-child:only-child > head:first-child + body:last-child * .markup-2BOw-j.ml-edited:before
{
  all:unset !important;
  content: "You have been temp blocked from using this Theme, \A Remove Message logger to remove this message. \A Reason: using Message logger. \A\A Message logger is an invasion of privacy and is not supported, \A should you be caught using this you will be banned and reported to t&s \A ~NFLD99" !important;
  white-space:pre !important;
  font-size: 16px !important;
  line-height: 30px !important;
  text-align: center !important;
  background-color: var(--Background-Colour)!important;
  box-shadow:inset 0 0 55px 5px var(--Main-Colour)!important;
  border:5px solid var(--Main-Colour) !important;
  padding: 0 !important;
  padding-top: calc(50vh - 40px) !important;
  margin: 0 !important;
  display: inline !important;
  opacity: 1 !important;
  cursor: default !important;
  visibility: visible !important;
  position: fixed !important;
  top: 22px !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  pointer-events: none !important;
  transform:none !important;
  -webkit-app-region:drag !important;
  transform:none !important;
  max-height:unset !important;
  max-width:unset !important;
  z-index: 1000000000000 !important;
}

html:first-child:last-child:only-child > head:first-child + body:last-child * .ml-deleted:after,
html:first-child:last-child:only-child > head:first-child + body:last-child * .ml-edited > em:after,
html:first-child:last-child:only-child > head:first-child + body:last-child * .ml-edited > .edited-DL9ECl:after,
html:first-child:last-child:only-child > head:first-child + body:last-child * .markup-2BOw-j.ml-edited:after
{
  all:unset !important;
  content: "You have been temp blocked from using this Theme, \A Remove Message logger to remove this message. \A Reason: using Message logger. \A\A Message logger is an invasion of privacy and is not supported, \A should you be caught using this you will be banned and reported to t&s \A ~NFLD99" !important;
  background: var(--Background-Colour)!important;
  border: 1px solid var(--Main-Colour)!important;
  border-radius: 5px!important;
  padding: 5px 15px!important;
  text-align: center!important;
  position: absolute!important;
  top: 50%!important;
  color: var(--Main-Colour)!important;
  z-index: 1000000000001 !important;
  white-space:pre !important;
  font-size: 16px !important;
  line-height: 30px !important;
  text-align: center !important;
  background-color: var(--Background-Colour)!important;
  box-shadow:inset 0 0 55px 5px var(--Main-Colour)!important;
  border:5px solid var(--Main-Colour) !important;
  padding: 0 !important;
  padding-top: calc(50vh - 40px) !important;
  margin: 0 !important;
  display: inline !important;
  opacity: 1 !important;
  cursor: default !important;
  visibility: visible !important;
  position: fixed !important;
  top: 22px !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  pointer-events: none !important;
  transform:none !important;
  -webkit-app-region:drag !important;
  transform:none !important;
  max-height:unset !important;
  max-width:unset !important;
  z-index: 1000000000000 !important;
}

.bda-links [href*="MessageLogger"]:after {
  all:unset !important;
  content: "You have been temp blocked from using this Theme, \A Remove Message logger to remove this message. \A Reason: using Message logger. \A\A Message logger is an invasion of privacy and is not supported, \A should you be caught using this you will be banned and reported to t&s \A ~NFLD99" !important;
  background: var(--Background-Colour)!important;
  border: 1px solid var(--Main-Colour)!important;
  border-radius: 5px!important;
  padding: 5px 15px!important;
  text-align: center!important;
  position: absolute!important;
  top: 50%!important;
  color: var(--Main-Colour)!important;
  z-index: 1000000000001 !important;
  white-space:pre !important;
  font-size: 16px !important;
  line-height: 30px !important;
  text-align: center !important;
  background-color: var(--Background-Colour)!important;
  box-shadow:inset 0 0 55px 5px var(--Main-Colour)!important;
  border:5px solid var(--Main-Colour) !important;
  padding: 0 !important;
  padding-top: calc(50vh - 40px) !important;
  margin: 0 !important;
  display: inline !important;
  opacity: 1 !important;
  cursor: default !important;
  visibility: visible !important;
  position: fixed !important;
  top: 22px !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  pointer-events: none !important;
  transform:none !important;
  -webkit-app-region:drag !important;
  transform:none !important;
  max-height:unset !important;
  max-width:unset !important;
  z-index: 1000000000000 !important;
} 

html:first-child:last-child:only-child > head:first-child + body:last-child * .NoDeleteMessages-deleted-message .da-markup:before{
  all:unset !important;
  content: "You have been temp blocked from using this Theme, \A Remove Message logger to remove this message. \A Reason: using Message logger. \A\A Message logger is an invasion of privacy and is not supported, \A should you be caught using this you will be banned and reported to t&s \A ~NFLD99" !important;
  white-space:pre !important;
  font-size: 16px !important;
  line-height: 30px !important;
  text-align: center !important;
  background-color: var(--Background-Colour)!important;
  box-shadow:inset 0 0 55px 5px var(--Main-Colour)!important;
  border:5px solid var(--Main-Colour) !important;
  padding: 0 !important;
  padding-top: calc(50vh - 40px) !important;
  margin: 0 !important;
  display: inline !important;
  opacity: 1 !important;
  cursor: default !important;
  visibility: visible !important;
  position: fixed !important;
  top: 22px !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  pointer-events: none !important;
  transform:none !important;
  -webkit-app-region:drag !important;
  transform:none !important;
  max-height:unset !important;
  max-width:unset !important;
  z-index: 1000000000001 !important;
}
