/* !Osama ~, */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/377086666210541568/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Known to post IP Loggers \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* ArsonistD */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/305555501347766274/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: DM soliciting. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Aureus 2.0 */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/431793457779048468/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Known to use Message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Azelo */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/226455931376893963/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: knowen to use a message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* bewitched */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/479753737523429406/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Invite spamming in DMs. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Cascade */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/442612628104151040/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: General cunt to others. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Clickssy */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/301010905523552258/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Advertising personal websites and creations unrelated to themes. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Daishelo */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/455560018117394442/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: DM'd server invite, against rule #8 \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* DerpForReals */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/202513837423853568/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: disrespecting other peoples life choices. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Dion */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/296165139168755712/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Hannah Baker */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/333756610193391616/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Staff disrespect. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Herku */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/544899384073256990/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* I Hate My Life */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/334061094429655043/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Arguing with staff. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* ItJayFX */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/388911699488669697/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Using message loggers on the server. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Khalid */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/389443420113993729/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: dm advert. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* lil skidy */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/350392906798071808/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Advertising hacks/cracks. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* NotASkid */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/487809621885714432/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Uses Message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* OUTLAWalt */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/326420258263007242/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Reputation for sending IP loggers to members of servers. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Sage Von'Black */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/326420258263007242/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Willis DM'ing server invite link. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Scott OG */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/476190099898630155/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Message Logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* SkyRyder */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/531878344388640788/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Discussing exploits after a warning. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Toyonder */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/196073120489144320/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Stealing another users Art. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* Zakkman24 */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/494920220826402816/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Random Add and dm from another server. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* ZrCulillo */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/294373358328348673/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: known to use a message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* «🇲 🇴 🇰 🇪 🇾 » */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/304447067294662656/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: spammer and trolling. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* ☆suicune */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/332289106841174017/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: DM advertising. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* 【ｌｅａｖｅｍｅａｌｏｎｅ】 */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/442757560550817802/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Spammer. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* ꧁ƶƶᒎᑌᗩᘉ꧂ */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/418428675931897856/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Advertising. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* 𝐿𝑒𝑒𝓉𝓃𝑒𝓏𝓏 */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/384836126713577472/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: dm advert spammer. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* 𝕬𝖉𝖒𝖎𝖓𝖎𝖘𝖙𝖗𝖆𝖙𝖔𝖗 𝕭𝖑𝖔𝖔𝖉 */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/359126396771106817/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* 𝕷𝖆𝖟𝖞𝕮𝖑𝖆𝖓𝖙𝖔𝖓 */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/368138274713239552/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: Joined to troll and ghost ping Members and Staff. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}

/* ﱞﱞᏉ1乙乇ﱞﱞ */
html > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.firefoxFixScrollFlex-cnI2ix > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.container-2Thooq > div.wrapper-2F3Zv8.small-5Os1Bb.avatar-3JE4B3.avatarSmall-3ACRaI > div.inner-1W0Bkn[style*="discordapp.com/avatars/197478892859162624/"]:before
{
	content: "You were banned from using this Theme and my discord server, \A Remove this Theme to remove this message. \A Reason: known to use a message logger. \A - NFLD99" !important;
	white-space: pre !important;
	font-size: 20px !important;
	line-height: 40px !important;
	text-align: center !important;
	background-color: var(--Background-Colour) !important;
	padding: 0 !important;
	padding-top: calc(50vh - 60px) !important;
	margin: 0 !important;
	display: inline !important;
	opacity: 1 !important;
	cursor: default !important;
	visibility: visible !important;
	position: fixed !important;
	top: 22px !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 10000000 !important;
	pointer-events: none !important;
}
