/* breadcat#6969 */
.wrapper-3t9DeA[user_by_bdfdb="200330618666483712"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/200330618666483712"]::before {
    content: url(https://nfld99.com/images/Boops/ChaChing.png);
}
  
.wrapper-3t9DeA[user_by_bdfdb="200330618666483712"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/200330618666483712"]::after {
    content: "Heya I'm breadcat. \a Yall should be my friend bc I'm a good friend and bc bread cats are great. \a 9th Donator";
}

[class*="topSection"] .image-33JSyf[style*="200330618666483712"] + .status-oxiHuE:before {
  content:url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 115" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="8" style="font-size: 1em;" x="208">Donator</text><text y="42" style="font-size: 1em;" x="28">Heya I\'m breadcat.</text></g></svg>');
} 
/* breadcat#6969 */