/* Cpt_Corde#1945 */
.wrapper-3t9DeA[user_by_bdfdb="254843046066257930"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/254843046066257930"]::before {
  content: url(https://nfld99.com/images/Boops/ChaChing.png);
}

.wrapper-3t9DeA[user_by_bdfdb="254843046066257930"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/254843046066257930"]::after {
  content: "Borger \a Vorer of Worlds \a 7th Donator";
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="254843046066257930"] > div{
  background: url(https://nfld99.com/images/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover!important;
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="254843046066257930"] *{
  color: rgb(0,172,234)!important;
  border-color: rgb(0,172,234)!important;
}

.NFLDIncChatUser[NFLDIncChatUser="254843046066257930"]::after {
  content: url(https://nfld99.com/images/Boops/ChaChing.png);
}

.NFLDIncChatUser[NFLDIncChatUser="254843046066257930"]:hover::after {
  content: "Borger Vorer of Worlds 7th Donator";
}
/* Cpt_Corde#1945 */