@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/BLACKROOSTER.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilBro.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilsLynAvenged.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kiari.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Mewt.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/NFLD99.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Strato.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/TwinShadow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/hammy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/mxngxxse.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/square.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/uri.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Cpt_Corde.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/FirePhox.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/breadcat.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GhostieSpook.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Satela.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/PoroUsedSnow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DragonStryder.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RoV_ZeRo.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Shiz.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Lil_Devil.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ace_Rimmer.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/KUSH.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ansemik_CZE.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Hypnotic.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kingless.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Krekevyks_1337.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/StratoBotElite.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Theory.css);

/* New donator stuff */

[class*="topSection"] .image-33JSyf + .status-oxiHuE:before {
  top:100%;
  height:150px;
  width:100%;
  position:absolute;
  pointer-events:none;
  z-index:1;
  -webkit-mask: linear-gradient(black 40%, transparent);
  color: var(--Main-Colour);
  transition: all 200ms;
  animation: CLog 10s infinite linear;
} 

[class*="topSection"] .image-33JSyf + .status-oxiHuE {
  opacity:1 !important;
}

[class*="topSection"] .image-33JSyf,[class*="topSection"] .actionButton-3W1xZa,[class*="topSection"] .nameTag-2IFDfL,[class*="topSection"] .profileBadgeWrapper-rl_RO6,[class*="topSection"] .additionalActionsIcon-1FoUlE,.BDFDB-textscroll {
  z-index:2;
  position:relative;
}


/* Easter Egg */

.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-NEo0f7.scrollerFade-1Ijw5y > div > div > div:nth-child(27) > div.keybindDescription-2RDbC2{
  font-size: 0;
}

.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-NEo0f7.scrollerFade-1Ijw5y > div > div > div:nth-child(27) > div.keybindDescription-2RDbC2:after {
  content: "<3 Donator Easter Egg <3";
  color:var(--Main-Colour);
  font-size: 12px;
}

.ragingDemon-bDcoXE,.symbolBackground-1w6i-M{
  margin-bottom: -3px;
  padding-top: 2%;
  padding-left: 23%;
  display: block;
  background: url(https://nfld99.com/Bkg/jyEFAiO.jpg) 50% 50%/cover !important;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 345" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana"><text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text><text y="45" style="font-size: 1.1em;" x="10">Donators:</text><text y="65" style="font-size: 1.1em;" x="10">Strato.</text><text y="65" style="font-size: 1.1em;" x="247">BLACKROOSTER.</text><text y="85" style="font-size: 1.1em;" x="10">Meowster Mewt.</text><text y="85" style="font-size: 1.1em;" x="247">mxngxxse.</text><text y="105" style="font-size: 1.1em;" x="10">TwinShadow.</text><text y="105" style="font-size: 1.1em;" x="247">Kiari.</text><text y="125" style="font-size: 1.1em;" x="10">Cpt_Corde.</text><text y="125" style="font-size: 1.1em;" x="247">FirePhox.</text><text y="145" style="font-size: 1.1em;" x="10">breadcat.</text><text y="145" style="font-size: 1.1em;" x="247">GhostieSpook.</text><text y="165" style="font-size: 1.1em;" x="10">Satela.</text><text y="165" style="font-size: 1.1em;" x="247">DragonStryder.</text><text y="185" style="font-size: 1.1em;" x="10">PoroUsedSnow.</text><text y="185" style="font-size: 1.1em;" x="247">Shiz.</text><text y="205" style="font-size: 1.1em;" x="10">Ace Rimmer.</text><text y="205" style="font-size: 1.1em;" x="247">KUSH.</text><text y="225" style="font-size: 1.1em;" x="10">Ansemik_CZE.</text><text y="225" style="font-size: 1.1em;" x="247">Î½Hï¾’pÍ¥Î®oÍ£tÍ«ic.</text><text y="245" style="font-size: 1.1em;" x="10">ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜.</text><text y="245" style="font-size: 1.1em;" x="247">Krekevyks 1337.</text><text y="265" style="font-size: 1.1em;" x="10">Theory.</text></g></svg>');
}

/* 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 345" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana">
<text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text>
<text y="45" style="font-size: 1.1em;" x="10">Donators:</text>
<text y="65" style="font-size: 1.1em;" x="10">Strato.</text>
<text y="65" style="font-size: 1.1em;" x="247">BLACKROOSTER.</text>
<text y="85" style="font-size: 1.1em;" x="10">Meowster Mewt.</text>
<text y="85" style="font-size: 1.1em;" x="247">mxngxxse.</text>
<text y="105" style="font-size: 1.1em;" x="10">TwinShadow.</text>
<text y="105" style="font-size: 1.1em;" x="247">Kiari.</text>
<text y="125" style="font-size: 1.1em;" x="10">Cpt_Corde.</text>
<text y="125" style="font-size: 1.1em;" x="247">FirePhox.</text>
<text y="145" style="font-size: 1.1em;" x="10">breadcat.</text>
<text y="145" style="font-size: 1.1em;" x="247">GhostieSpook.</text>
<text y="165" style="font-size: 1.1em;" x="10">Satela.</text>
<text y="165" style="font-size: 1.1em;" x="247">DragonStryder.</text>
<text y="185" style="font-size: 1.1em;" x="10">PoroUsedSnow.</text>
<text y="185" style="font-size: 1.1em;" x="247">Shiz.</text>
<text y="205" style="font-size: 1.1em;" x="10">Ace Rimmer.</text>
<text y="205" style="font-size: 1.1em;" x="247">KUSH.</text>
<text y="225" style="font-size: 1.1em;" x="10">Ansemik_CZE.</text>
<text y="225" style="font-size: 1.1em;" x="247">Î½Hï¾’pÍ¥Î®oÍ£tÍ«ic.</text>
<text y="245" style="font-size: 1.1em;" x="10">ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜.</text>
<text y="245" style="font-size: 1.1em;" x="247">Krekevyks 1337.</text>
<text y="265" style="font-size: 1.1em;" x="10">Theory.</text>
</g></svg>
*/

.fade>div>div>div:nth-child(26)>div.keybindDescription-2RDbC2:after {
  content: "<3 Donator Easter Egg <3";
  font-size: 12px;
}

/* Add Thank you to account page */
[nfldinccurrentuser="483413721876529174"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="197406501264949248"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="123119491461677057"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="167462879975571456"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="200330618666483712"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="254843046066257930"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="235302947058089984"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="221342508133777408"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="350845478134611971"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="235792008763932672"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="419677528437817345"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="73958666050482176"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="486284269652803614"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="237616896948699136"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="510928078889943062"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="493932895367331843"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="525899880053342219"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="325746166518251530"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="150927669809250305"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="151490253692076032"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="191595592772747265"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="302208662812884993"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="322808739096690691"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="322758556946530304"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="602406235848835073"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="192507720199307265"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after,
[nfldincpopoutuser="276212376104337409"] *[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after
{
  color: var(--Main-Colour)!important;;
  content: var(--Theme-Variant)", "var(--Update-Text)", Thank you for your support! "!important;
}

/* Donators */
[nfldincpopoutuser="197406501264949248"]:before,
[nfldincpopoutuser="123119491461677057"]:before,
[nfldincpopoutuser="167462879975571456"]:before,
[nfldincpopoutuser="200330618666483712"]:before,
[nfldincpopoutuser="254843046066257930"]:before,
[nfldincpopoutuser="235302947058089984"]:before,
[nfldincpopoutuser="221342508133777408"]:before,
[nfldincpopoutuser="350845478134611971"]:before,
[nfldincpopoutuser="235792008763932672"]:before,
[nfldincpopoutuser="419677528437817345"]:before,
[nfldincpopoutuser="73958666050482176"]:before,
[nfldincpopoutuser="486284269652803614"]:before,
[nfldincpopoutuser="237616896948699136"]:before,
[nfldincpopoutuser="510928078889943062"]:before,
[nfldincpopoutuser="493932895367331843"]:before,
[nfldincpopoutuser="525899880053342219"]:before,
[nfldincpopoutuser="325746166518251530"]:before,
[nfldincpopoutuser="150927669809250305"]:before,
[nfldincpopoutuser="151490253692076032"]:before,
[nfldincpopoutuser="191595592772747265"]:before,
[nfldincpopoutuser="302208662812884993"]:before,
[nfldincpopoutuser="322808739096690691"]:before,
[nfldincpopoutuser="322758556946530304"]:before,
[nfldincpopoutuser="602406235848835073"]:before,
[nfldincpopoutuser="192507720199307265"]:before,
[nfldincpopoutuser="276212376104337409"]:before
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 20" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">Donator</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* BBDevs */
[nfldincpopoutuser="278543574059057154"]:before,
[nfldincpopoutuser="256531049222242304"]:before,
[nfldincpopoutuser="219363409097916416"]:before,
[nfldincpopoutuser="148059412165033984"]:before
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 20" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">BDDev</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* Meeeeeeeeee */
[nfldincpopoutuser="483413721876529174"]:before
{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 20" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="20" style="font-size: 1.6em; fill: lime;">Developer</text></g></svg>');
  animation: CLog 10s infinite linear;
}

/* ============================== Plugin Stuff ============================== */
.NFLDIncChatUser {
  position: absolute;
  left: 45px;
  top: 45px;
  width: 17px;
  height: 17px;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  z-index: 1;
}

.NFLDIncChatUser:hover:after{
  white-space: pre;
  background-color: var(--Background-Colour) !important;
  box-shadow: 1px 1px 15px rgba(0, 216, 86, 0.9)!important;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 3000000;
  display: inline;
  position: relative;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 250ms ease;
  color: var(--Main-Colour);
  opacity: 1;
  animation: rainbow 3s infinite linear;
  z-index: 99992;
}

/* ============================== Plugin Stuff ============================== */