@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/BLACKROOSTER.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilBro.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilsLynAvenged.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kiari.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Mewt.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/NFLD99.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Strato.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/TwinShadow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/hammy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/mxngxxse.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/square.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/uri.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Cpt_Corde.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/FirePhox.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/breadcat.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GhostieSpook.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Satela.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/PoroUsedSnow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DragonStryder.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RoV_ZeRo.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Shiz.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Lil_Devil.css);


.topSectionNormal-2-vo2m .image-33JSyf[style*="167462879975571456"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="200330618666483712"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="254843046066257930"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="221342508133777408"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="350845478134611971"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="235792008763932672"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="73958666050482176"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="150927669809250305"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="151490253692076032"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="191595592772747265"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="302208662812884993"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="322808739096690691"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="322758556946530304"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="325746166518251530"] + .status-oxiHuE:before,
.topSectionNormal-2-vo2m .image-33JSyf[style*="276212376104337409"] + .status-oxiHuE:before {
  content:'';
  top:100%;
  height:150px;
  width:100%;
  position:absolute;
  pointer-events:none;
  z-index:1;
  -webkit-mask: linear-gradient(black 40%, transparent);
  background:url('https://nfld99.com/images/Boops/DonatorBkg5.png') 50% 50%/contain;
  transition: all 200ms;
} 

.topSectionNormal-2-vo2m .image-33JSyf[style*="167462879975571456"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="200330618666483712"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="254843046066257930"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="221342508133777408"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="350845478134611971"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="235792008763932672"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="73958666050482176"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="150927669809250305"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="151490253692076032"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="191595592772747265"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="302208662812884993"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="322808739096690691"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="322758556946530304"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="325746166518251530"] + .status-oxiHuE,
.topSectionNormal-2-vo2m .image-33JSyf[style*="276212376104337409"] + .status-oxiHuE {
  opacity:1 !important;
}

.topSectionNormal-2-vo2m .image-33JSyf,.topSectionNormal-2-vo2m .actionButton-3W1xZa,.topSectionNormal-2-vo2m .nameTag-2IFDfL,.topSectionNormal-2-vo2m .profileBadgeWrapper-rl_RO6,.topSectionNormal-2-vo2m .additionalActionsIcon-1FoUlE,.BDFDB-textscroll {
  z-index:2;
  position:relative;
}
