@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/BLACKROOSTER.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilBro.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DevilsLynAvenged.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kiari.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Mewt.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/NFLD99.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Strato.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/TwinShadow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/hammy.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/mxngxxse.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/square.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/uri.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Cpt_Corde.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/FirePhox.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/breadcat.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/GhostieSpook.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Satela.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/PoroUsedSnow.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/DragonStryder.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/RoV_ZeRo.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Shiz.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Lil_Devil.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ace_Rimmer.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/KUSH.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Ansemik_CZE.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Hypnotic.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Kingless.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/FI/Krekevyks_1337.css);

/* New donator stuff */

[class*="topSection"] .image-33JSyf + .status-oxiHuE:before {
  top:100%;
  height:150px;
  width:100%;
  position:absolute;
  pointer-events:none;
  z-index:1;
  -webkit-mask: linear-gradient(black 40%, transparent);
  color: var(--Main-Colour);
  transition: all 200ms;
  animation: CLog 10s infinite linear;
} 

[class*="topSection"] .image-33JSyf + .status-oxiHuE {
  opacity:1 !important;
}

[class*="topSection"] .image-33JSyf,[class*="topSection"] .actionButton-3W1xZa,[class*="topSection"] .nameTag-2IFDfL,[class*="topSection"] .profileBadgeWrapper-rl_RO6,[class*="topSection"] .additionalActionsIcon-1FoUlE,.BDFDB-textscroll {
  z-index:2;
  position:relative;
}


/* Easter Egg */

.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-NEo0f7.scrollerFade-1Ijw5y > div > div > div:nth-child(27) > div.keybindDescription-2RDbC2{
  font-size: 0;
}

.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-NEo0f7.scrollerFade-1Ijw5y > div > div > div:nth-child(27) > div.keybindDescription-2RDbC2:after {
  content: "<3 Donator Easter Egg <3";
  color:var(--Main-Colour);
  font-size: 12px;
}

.ragingDemon-bDcoXE,.symbolBackground-1w6i-M{
  margin-bottom: -3px;
  padding-top: 2%;
  padding-left: 23%;
  display: block;
  background: url(https://nfld99.com/Bkg/jyEFAiO.jpg) 50% 50%/cover !important;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 345" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana"><text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text><text y="45" style="font-size: 1.1em;" x="10">Donators:</text><text y="65" style="font-size: 1.1em;" x="10">Strato.</text><text y="65" style="font-size: 1.1em;" x="247">BLACKROOSTER.</text><text y="85" style="font-size: 1.1em;" x="10">Meowster Mewt.</text><text y="85" style="font-size: 1.1em;" x="247">mxngxxse.</text><text y="105" style="font-size: 1.1em;" x="10">TwinShadow.</text><text y="105" style="font-size: 1.1em;" x="247">Kiari.</text><text y="125" style="font-size: 1.1em;" x="10">Cpt_Corde.</text><text y="125" style="font-size: 1.1em;" x="247">FirePhox.</text><text y="145" style="font-size: 1.1em;" x="10">breadcat.</text><text y="145" style="font-size: 1.1em;" x="247">GhostieSpook.</text><text y="165" style="font-size: 1.1em;" x="10">Satela.</text><text y="165" style="font-size: 1.1em;" x="247">DragonStryder.</text><text y="185" style="font-size: 1.1em;" x="10">PoroUsedSnow.</text><text y="185" style="font-size: 1.1em;" x="247">Shiz.</text><text y="205" style="font-size: 1.1em;" x="10">Ace Rimmer.</text><text y="205" style="font-size: 1.1em;" x="247">KUSH.</text><text y="225" style="font-size: 1.1em;" x="10">Ansemik_CZE.</text><text y="225" style="font-size: 1.1em;" x="247">Î½Hï¾’pÍ¥Î®oÍ£tÍ«ic.</text><text y="245" style="font-size: 1.1em;" x="10">ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜.</text><text y="245" style="font-size: 1.1em;" x="247">Krekevyks 1337.</text></g></svg>');
}

/* 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 345" style="width:100%;height:100px;"><g style="fill: rgba(155,89,182,1); font-size: .8em; font-family:verdana">
<text y="20" style="font-size: 2em; fill: rgba(155,89,182,1);">Thank you for using my theme!</text>
<text y="45" style="font-size: 1.1em;" x="10">Donators:</text>
<text y="65" style="font-size: 1.1em;" x="10">Strato.</text>
<text y="65" style="font-size: 1.1em;" x="247">BLACKROOSTER.</text>
<text y="85" style="font-size: 1.1em;" x="10">Meowster Mewt.</text>
<text y="85" style="font-size: 1.1em;" x="247">mxngxxse.</text>
<text y="105" style="font-size: 1.1em;" x="10">TwinShadow.</text>
<text y="105" style="font-size: 1.1em;" x="247">Kiari.</text>
<text y="125" style="font-size: 1.1em;" x="10">Cpt_Corde.</text>
<text y="125" style="font-size: 1.1em;" x="247">FirePhox.</text>
<text y="145" style="font-size: 1.1em;" x="10">breadcat.</text>
<text y="145" style="font-size: 1.1em;" x="247">GhostieSpook.</text>
<text y="165" style="font-size: 1.1em;" x="10">Satela.</text>
<text y="165" style="font-size: 1.1em;" x="247">DragonStryder.</text>
<text y="185" style="font-size: 1.1em;" x="10">PoroUsedSnow.</text>
<text y="185" style="font-size: 1.1em;" x="247">Shiz.</text>
<text y="205" style="font-size: 1.1em;" x="10">Ace Rimmer.</text>
<text y="205" style="font-size: 1.1em;" x="247">KUSH.</text>
<text y="225" style="font-size: 1.1em;" x="10">Ansemik_CZE.</text>
<text y="225" style="font-size: 1.1em;" x="247">Î½Hï¾’pÍ¥Î®oÍ£tÍ«ic.</text>
<text y="245" style="font-size: 1.1em;" x="10">ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜.</text>
<text y="245" style="font-size: 1.1em;" x="247">Krekevyks 1337.</text>
</g></svg>
*/

.fade>div>div>div:nth-child(26)>div.keybindDescription-2RDbC2:after {
  content: "<3 Donator Easter Egg <3";
  font-size: 12px;
}
