/* FirePhox#5261 */
.wrapper-3t9DeA[user_by_bdfdb="350845478134611971"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/350845478134611971"]::before {
    content: url(https://nfld99.com/images/Boops/FirePhox.png);
}
  
.wrapper-3t9DeA[user_by_bdfdb="350845478134611971"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/350845478134611971"]::after {
    content: "Hello. My name is FirePhox. \a I am an internet browser. \a 8th Donator";
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="350845478134611971"] > div{
  background: url(https://nfld99.com/images/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover!important;
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="350845478134611971"] *{
  color: rgb(0,172,234)!important;
  border-color: rgb(0,172,234)!important;
}

.NFLDIncChatUser[NFLDIncChatUser="350845478134611971"]::after {
  content: url(https://nfld99.com/images/Boops/FirePhox.png);
}

.NFLDIncChatUser[NFLDIncChatUser="350845478134611971"]:hover::after {
  content: "Hello. My name is FirePhox. I am an internet browser. 8th Donator";
}
/* FirePhox#5261 */