/* Kiari#1204 */
.wrapper-3t9DeA[user_by_bdfdb="73958666050482176"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/73958666050482176"]::before {
  content: url(https://nfld99.com/images/Boops/ChaChing.png);
}

.wrapper-3t9DeA[user_by_bdfdb="73958666050482176"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/73958666050482176"]::after {
  content: "Music Artist \a The greatest of all time. \a 6th Donator";
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="73958666050482176"] > div{
  background: url(https://nfld99.com/images/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover!important;
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="73958666050482176"] *{
  color: rgb(0,172,234)!important;
  border-color: rgb(0,172,234)!important;
}

.NFLDIncChatUser[NFLDIncChatUser="73958666050482176"]::after {
  content: url(https://nfld99.com/images/Boops/ChaChing.png);
}

.NFLDIncChatUser[NFLDIncChatUser="73958666050482176"]:hover::after {
  content: "Music Artist The greatest of all time. 6th Donator";
}
/* Kiari#1204 */