/* ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜#0923 */
.wrapper-3t9DeA[user_by_bdfdb="486284269652803614"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/486284269652803614"]::before {
  content: url(https://nfld99.com/images/Boops/ChaChing.png);
}

.wrapper-3t9DeA[user_by_bdfdb="486284269652803614"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/486284269652803614"]::after {
  content: "Placeholder, \a Placeholder. \a 19th Donator";
}

[class*="topSection"] .image-33JSyf[style*="486284269652803614"] + .status-oxiHuE:before {
  content:url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 115" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="8" style="font-size: 1em;" x="208">Donator</text><text y="42" style="font-size: 1em;" x="28"> Placeholder</text></g></svg>');
} 

/* ğ“šğ–ğ–“ğ–Œğ–‘ğ–Šğ–˜ğ–˜#0923 */
