/* Lil Devil ✓#2004 */
.wrapper-3t9DeA[user_by_bdfdb="493932895367331843"]::before , .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/493932895367331843"]::before {
  content: url(https://nfld99.com/images/Boops/Lil_Devil.png);
}

.wrapper-3t9DeA[user_by_bdfdb="493932895367331843"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/493932895367331843"]::after {
  content: "Hi, I’m Kilee! \a I’m a shortie and \a I’m very friendly!!";
}
/* Lil Devil ✓#2004 */

/* †©#7564 */
.wrapper-3t9DeA[user_by_bdfdb="525899880053342219"]::before , .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/525899880053342219"]::before {
  content: url(https://nfld99.com/images/Boops/Lil_Devil.png);
}

.wrapper-3t9DeA[user_by_bdfdb="525899880053342219"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/525899880053342219"]::after {
  content: "Hi, I’m Kilee! \a I’m a shortie and \a I’m very friendly!!";
}
/* †©#7564 */