/* NFLD99[DEV]#0001 */
.wrapper-3t9DeA[user_by_bdfdb="483413721876529174"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/483413721876529174"]::before {
  content: url(https://nfld99.com/images/Boops/NFLD99.svg);
}

.wrapper-3t9DeA[user_by_bdfdb="483413721876529174"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/483413721876529174"]::after {
  content: "Hello I'm the theme developer \a If you have any issues please join the server! \a Support Server: https://nfld99.com/discord";
}

[class*="topSection"] .image-33JSyf[style*="483413721876529174"] + .status-oxiHuE:before {
  content:url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 115" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="8" style="font-size: 1em;" x="195">Theme Dev</text><text y="42" style="font-size: 1em;" x="37">Support Server: https://nfld99.com/discord</text></g></svg>');
} 

/* NFLD99[DEV]#0001 */