/* PoroUsedSnow#1337 */
.wrapper-3t9DeA[user_by_bdfdb="151490253692076032"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/151490253692076032"]::before {
    content: url(https://nfld99.com/images/Boops/PoroUsedSnow.png);
}
  
.wrapper-3t9DeA[user_by_bdfdb="151490253692076032"]:hover::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/151490253692076032"]:hover::before {
    content: url(https://nfld99.com/images/Boops/PoroUsedSnow.gif);
}
  
.wrapper-3t9DeA[user_by_bdfdb="151490253692076032"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/151490253692076032"]::after {
    content: "Heyo, I'm Poro! Got any Snax? \a Subpar Web Dev, Ahri is best girl \a 12th Donator";
}

[class*="topSection"] .image-33JSyf[style*="151490253692076032"] + .status-oxiHuE:before {
  content:url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 115" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="8" style="font-size: 1em;" x="208">Donator</text><text y="42" style="font-size: 1em;" x="28">Heyo, I\'m Poro! Got any Snax?</text></g></svg>');
} 

/* PoroUsedSnow#1337 */