/* PoroUsedSnow#1337 */
.wrapper-3t9DeA[user_by_bdfdb="151490253692076032"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/151490253692076032"]::before {
    content: url(https://nfld99.com/images/Boops/PoroUsedSnow.png);
}
  
.wrapper-3t9DeA[user_by_bdfdb="151490253692076032"]:hover::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/151490253692076032"]:hover::before {
    content: url(https://nfld99.com/images/Boops/PoroUsedSnow.gif);
}
  
.wrapper-3t9DeA[user_by_bdfdb="151490253692076032"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/151490253692076032"]::after {
    content: "Heyo, I'm Poro! Got any Snax? \a Subpar Web Dev, Ahri is best girl \a 12th Donator";
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="151490253692076032"] > div{
    background: url(https://nfld99.com/images/Boops/PopoutBackgrounds/ChaChing.png) 50% 50%/cover!important;
  }
  
  .modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="151490253692076032"] *{
    color: rgb(0,172,234)!important;
    border-color: rgb(0,172,234)!important;
  }
  
  .NFLDIncChatUser[NFLDIncChatUser="151490253692076032"]::after {
    content: url(https://nfld99.com/images/Boops/ChaChing.png);
  }
  
  .NFLDIncChatUser[NFLDIncChatUser="151490253692076032"]:hover::after {
    content: "I run an extremely toxic community Find us at https://discord.io/toxicgaming/ 4th Donator";
  }
/* PoroUsedSnow#1337 */