/* PoroUsedSnow#1337 */
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322758556946530304"]::before {
    content: url(https://i.imgur.com/vWrHlVD.png);
}
  
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322758556946530304"]:hover::before {
    content: url(https://i.imgur.com/isR28tm.gif);
}
  
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/302208662812884993"]::after {
    content: "Heyo, I'm Poro! Got any Snax? \a Subpar Web Dev, Ahri is best girl \a 12th Donator";
}
/* PoroUsedSnow#1337 */