/* Shiz#9686 */
.wrapper-3t9DeA[user_by_bdfdb="322808739096690691"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322808739096690691"]::before {
  content: url(https://nfld99.com/images/Boops/Shiz.png);
}

.wrapper-3t9DeA[user_by_bdfdb="322808739096690691"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322808739096690691"]::after {
  content: "Hey I'm Shiz! \a Theme Dev {In Training} I like cookies, \"Knowledge is Power\" \a 15th Donator";
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="322808739096690691"] > div{
  background: url(https://nfld99.com/images/Boops/PopoutBackgrounds/Shiz.jpg) 50% 50%/cover!important;
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="322808739096690691"] *{
  color: pink!important;
  border-color: pink!important;
}

.NFLDIncChatUser[NFLDIncChatUser="322808739096690691"]::after {
  content: url(https://nfld99.com/images/Boops/Shiz.png);
}

.NFLDIncChatUser[NFLDIncChatUser="322808739096690691"]:hover::after {
  content: "Hey I'm Shiz! Theme Dev {In Training} I like cookies, \"Knowledge is Power\" 15th Donator";
}
/* Shiz#9686 */