/* Shiz#9686 */
.wrapper-3t9DeA[user_by_bdfdb="322808739096690691"]::before, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322808739096690691"]::before {
  content: url(https://nfld99.com/images/Boops/Shiz.png);
}

.wrapper-3t9DeA[user_by_bdfdb="322808739096690691"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/322808739096690691"]::after {
  content: "Hey I'm Shiz! \a Theme Dev {In Training} I like cookies, \"Knowledge is Power\" \a 15th Donator";
}

[class*="topSection"] .image-33JSyf[style*="322808739096690691"] + .status-oxiHuE:before {
  content:url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 115" style="width:100%;height:100px;"><g style="fill: lime; font-size: .5em; font-family:verdana"><text y="8" style="font-size: 1em;" x="208">Donator</text><text y="42" style="font-size: 1em;" x="28">Hey I\'m Shiz!</text></g></svg>');
} 

/* Shiz#9686 */