/* StratoBotElite#4763 */
[style*="avatars/322758556946530304"].avatar-profile::before,
[style*="avatars/322758556946530304"].avatar-profile[style*="avatars/322758556946530304"]::after,
[style*="avatars/322758556946530304"].avatar-large[style*="avatars/322758556946530304"]+.comment .timestamp::before,
[style*="avatars/322758556946530304"].avatar-large[style*="avatars/322758556946530304"]+.comment .timestamp::after {
  display: inline-block!important;
}

[style*="avatars/322758556946530304"].avatar-large+.comment .timestamp::before {
  content: url(https://i.imgur.com/oCNwWHl.png);
  color: rgba(0,255,0,.3);
  font-size: 13px;
  z-index: 1;
  position: relative;
  padding-left: 1px;
  padding-right: 4px;
  border-radius: 2px;
  margin-left: -3px;
  transform: translate(0,1px);
  cursor: pointer;
  transition: 100ms ease;
  pointer-events: initial;
  animation: rainbow 3s infinite linear;
}

[style*="avatars/322758556946530304"].avatar-large+.comment .timestamp::after {
  content: "Hello Im StratoBotElite! \a Senior Staff on UnbelievaBoat Bot https://unbelievable.pizza/ \a 2nd Donator";
  white-space: pre;
  background-color: var(--Background-Colour) !important;
  box-shadow: 1px 1px 15px rgba(0,216,86, 0.9)!important;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 3000000;
  display: block;
  position: absolute;
  right: 0;
  pointer-events: none;
  transition: 80ms ease;
  color: var(--Main-Colour);
  width: 330px;
  left: 0;
  transform: translate(17px,-7px);
  opacity: 0;
  top: 0;
  animation: rainbow 3s infinite linear;
}

[style*="avatars/322758556946530304"].avatar-large+.comment .timestamp:hover::after {
  opacity: 1;
  transition: 180ms ease-in-out 100ms;
  animation: boop .5s 1 linear;
}

[style*="avatars/322758556946530304"].avatar-large+.comment .timestamp:not(:hover)::after {
  opacity: 0;
  transition: 180ms ease-in-out 150ms;
  animation: boop2 .5s 1 linear;
}

[style*="avatars/322758556946530304"].avatar-large+.comment .timestamp {
  position: relative;
  cursor: pointer;
}
/* StratoBotElite#4763 */