/* uri#0002 */
.wrapper-3t9DeA[user_by_bdfdb="148059412165033984"]::before , .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/148059412165033984"]::before {
  content: url(https://nfld99.com/images/Boops/uri.png);
}

.wrapper-3t9DeA[user_by_bdfdb="148059412165033984"]::after, .large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/148059412165033984"]::after {
  content: "Hello Im Uri! \a Be a slut. \a Be whatever you want!";
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="148059412165033984"] > div{
  background: url(https://i.imgur.com/j6Zbhiz.jpg) 50% 50%/cover!important;
}

.modal-3c3bKg > div.inner-1ilYF7[nfldincpopoutuser="148059412165033984"] *{
  color: rgb(0,172,234)!important;
  border-color: rgb(0,172,234)!important;
}

.NFLDIncChatUser[NFLDIncChatUser="148059412165033984"]::after {
  content: url(https://nfld99.com/images/Boops/uri.png);
}

.NFLDIncChatUser[NFLDIncChatUser="148059412165033984"]:hover::after {
  content: "Hello Im Uri! Be a slut. Be whatever you want!";
}
/* uri#0002 */