/* Invites */
.wrapper-uAa07y{
	min-width:10px!important;
	max-width:400px!important;
	width:45px;
	transition: all .5s;
  opacity: .2;
  overflow: hidden;
}

.wrapper-uAa07y:hover{
	width:400px;
	transition: all .6s;
	opacity: 1;
}

.wrapper-uAa07y{
	min-height:10px!important;
	max-height:100px!important;
	height:10px;
	transition: all .5s;
  opacity: .2;
  overflow: hidden;
}

.wrapper-uAa07y:hover{
	height:100px;
	transition: all .6s;
	opacity: 1;
}
