/* Thanks To uri#0002 For This Code, and to Square#3880 for helping me make it better */
.channels-3g2vYe > div:last-child{
	position: relative;
	overflow: visible;
}

.channels-3g2vYe > div:last-child > div:last-child{
	width: 35px;
	height: 35px;
	background-color: transparent!important;
	border-radius: 5px!important;
	margin: 0;
	padding: 0 0 25px 0;
	position: absolute;
	bottom: 5px;
	right: -10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	transition: background-color 200ms;
	z-index: 3;
	box-sizing: border-box;
}

.channels-3g2vYe > div:last-child:hover > div:last-child:hover{
	height: 140px;
	transition: 500ms ease-in-out;
}

.channels-3g2vYe > div:last-child > div:last-child:before{
	content:"";
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="transform: scale(0.6)"><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/><title>list2</title><g class="currentLayer" style=""><title>Layer 1</title><path d="M12,2 h20 v4 h-20 v-4 zM12,14 h20 v4 h-20 v-4 zM12,26 h20 v4 h-20 v-4 zM0,4 c0,-2.209 1.791,-4 4,-4 s4,1.791 4,4 c0,2.209 -1.791,4 -4,4 s-4,-1.791 -4,-4 zM0,16 c0,-2.209 1.791,-4 4,-4 s4,1.791 4,4 c0,2.209 -1.791,4 -4,4 s-4,-1.791 -4,-4 zM0,28 c0,-2.209 1.791,-4 4,-4 s4,1.791 4,4 c0,2.209 -1.791,4 -4,4 s-4,-1.791 -4,-4 z" id="svg_1" class="selected" fill="none" stroke="white" stroke-width="2" stroke-opacity="1"/></g></svg>');
	background-color: var(--Main-Colour);
	width: 20px;
	height: 20px;
	background-size: fit;
	background-position: center;
	position: absolute;
	right: 7px;
	bottom: 9px;
	opacity: 0.2;
	transition: opacity 200ms;
}

.channels-3g2vYe > div:last-child:hover > div:last-child:before{
	opacity: 0.5;
}

.channels-3g2vYe > div:last-child > div:last-child > div *{
	left: 0;
	display: none;
}

.channels-3g2vYe > div:last-child:hover > div:last-child:hover > div *{
	display: block;
}

/* Thanks To uri#0002 For This Code, and to Square#3880 for helping me make it better */