/*//META{"name":"Mentioned_Box","description":"This Theme Customizes The Mention Box,  Enable This Theme LAST For it To Take Effect.","author":"NFLD99","version":"3.0","website":"https://nfld99.com/","source":"https://github.com/NFLD99/Better-Discord"}*//**/
:root{
	--Background: rgba(85, 193, 58, 0.2) ;
	--Mention: #95da72;
	--Bar: rgba(26, 250, 93, 0.357);
}
.theme-dark .isMentioned-N-h9aa {
    background: var(--Background) !important;
}
.mention {
    color: var(--Mention) !important;
}
.isMentionedCozy-3isp7y:after {
    position: absolute;
    top: 0;
    left: -6px;
    bottom: 0;
    content: " ";
    width: 2px;
    background: var(--Bar)!important;
    border-left: 4px solid var(--Bar)!important;
    border-radius: 2px 0 0 2px;
}