//META{"name":"Popout_Text_And_Voice","description":"This Theme Makes The Guilds, Members, Text And Voice Area Hidden Unti Hovered,Enable This Theme LAST For it To Take Effect.","author":"NFLD99","version":"6.0"}*//{}
/* Members */
.membersWrap-3wRngy{
	min-width:50px!important;
	max-width:240px!important;
	width:50px;
	transition: width .5s;
}

.membersWrap-3wRngy:hover{
	width:240px;
	transition: width .6s;
}
/* Giulds */
.guilds-wrapper{
	min-width:50px!important;
	max-width:240px!important;
	width:50px;
	transition: width .5s;
}

.guilds-wrapper:hover{
	width:100px;
	transition: width .6s;
}
/* Channels */
.channels-3g2vYe{
	min-width:50px!important;
	max-width:240px!important;
	width:60px;
	transition: width .5s;
}

.channels-3g2vYe:hover{
	width:240px;
	transition: width .6s;
}