//META{"name":"Rainbow_Mentions","description":"This Theme Makes Mentions Rainbow,  Enable This Theme LAST For it To Take Effect","author":"NFLD99","version":"3.0"}*//{}

.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention:hover,.theme-dark .wrapper-3WhCwL:hover, .theme-dark .wrapper-3WhCwL {
  background: transparent !important;
}

.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention,.theme-dark .wrapper-3WhCwL,.theme-dark .wrapper-3WhCwL:hover {
  color: #00e5ff;
  animation: rainbow 3s infinite linear;
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}