//META{"name":"Rainbow_Mentions","description":"This Theme Makes Mentions Rainbow,  Enable This Theme LAST For it To Take Effect","author":"NFLD99","version":"2.0"}*//{}

.mentioned .mention, .mentioned .mention:hover {
  background: transparent !important;
}

.mention:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ac00b9;
}

.message-group .comment .markup .mention, .nameHovered-28u_Fz, .nameSpeaking-3ROx9q, .nameDefault-1I0lx8 {
  color: #00e5ff;
  animation: rainbow 3s infinite linear;
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}