//META{"name":"Status_Borders","description":"Fuck This Nano #Discontinued","author":"NFLD99","version":"2"}*//{}

:root{
    --width: 32px; /* Make This Same As .avatar-small In Your Theme */
    --height: 32px; /* Make This Same As .avatar-small In Your Theme */
}
.avatar-small .status {
    right: -2.5px !important; /* You May Need To Adjust This */
    bottom: -2.5px !important; /* You May Need To Adjust This */
}
.status-idle, .channel-members .status-idle,
.container-iksrDt .status-idle,
.channel.private .status-idle {
    background-color: transparent;
    border-color: #faa61a !important;
}
.status-online, .channel-members .status-online,
.container-iksrDt .status-online,
.channel.private .status-online {
    background-color: transparent;
    border-color: #43b581 !important;
}
.status-dnd, .channel-members .status-dnd,
.container-iksrDt .status-dnd,
.channel.private .status-dnd {
    background-color: transparent;
    border-color: #f04747 !important;
}
.status-invisible, .status-offline, .channel-members .status-invisible,
.channel-members .status-offline,
.container-iksrDt .status-invisible,
.channel.private .status-invisible,
.channel.private .status-offline {
    background-color: transparent;
    border-color: #747f8d !important;
	display: block;
}
.status-streaming, .channel-members .status-streaming,
.container-iksrDt .status-streaming,
.channel.private .status-streaming {
	background-color: transparent;
    border-color: #593695 !important;
}
.status, .channel-members .status,
.channel-members .status .status-typing,
.channel.private .status,
.container-iksrDt .status {
    width: var(--width) !important;
    height: var(--height) !important;
    border-radius: 70px !important;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.channel-members .status.status-typing .spinner {
    align-items: center;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    left: calc(50% - 15px);
    padding-left: 2px;
    position: absolute;
    top: calc(50% - 15px);
    width: 28px;
}