//META{"name":"Status_Borders","description":"Adds Status Borders","author":"NFLD99","version":"1"}*//{}

.status-idle {
    background-color: transparent;
    border-color: #faa61a !important;
}
.status-online {
    background-color: transparent;
    border-color: #43b581 !important;
}
.status-dnd {
    background-color: transparent;
    border-color: #f04747 !important;
}
.status-invisible, .status-offline {
    background-color: transparent;
    border-color: #747f8d !important;
}
.status {
    width: 32px !important; /* Make This Same As .avatar-small In Your Theme */
    height: 32px !important; /* Make This Same As .avatar-small In Your Theme */
    border-radius: 70px !important;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.avatar-small .status {
    right: -2.5px !important; /* You May Need To Adjust This */
    bottom: -2.5px !important; /* You May Need To Adjust This */
}