//META{"name":"User_Popout","description":"Changes The User Popout Look,  Enable This Theme LAST For it To Take Effect","author":"NFLD99","version":"5.0"}*//{}

:root {
  --Popout-Main-Colour: rgba(0, 226, 204, 1);
  --Popout-Background: url(https://i.imgur.com/DOFpZY5.jpg) ;
  --Popout-Text-Shadow-Colour:rgba(0,0,0, .45);
}

/* New UserPopouts */
.userPopout-4pfA0d .avatar-1BXaQj {
    background-clip: padding-box!important;
    position: relative!important;
    background: 50% 50%/cover!important;
    border-radius: 10px!important;
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
	width: 200px!important;
    height: 200px!important;
	border: none!important;
}

.avatarHint-2i5XWK {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    right: 0!important;
    z-index: 2!important;
    border-radius: 5%!important;
    -webkit-box-shadow: inset 0 0 120px rgba(0,0,0,.75)!important;
    box-shadow: inset 0 0 120px rgba(0,0,0,.75)!important;
    font-weight: 700!important;
    font-size: 10px!important;
    line-height: 12px!important;
    text-transform: uppercase!important;
    margin: 3px!important;
    opacity: 0!important;
    -webkit-transition: opacity .1s ease!important;
    transition: opacity .1s ease!important;
}

.userPopout-4pfA0d .footer-2J5zqP,.emptyIconFriends-2q_v-C,#user-profile-modal .empty .empty-icon-friends{
  display:none !important;
}

.emptyText-AUFSH0:after,#user-profile-modal .empty .empty-text:after{
	content: ". You Should Get Out More.";
	max-width: 4000px;
	max-height: 200px;
	line-height: 26px;
	text-transform: ;
	color:var(--Popout-Main-Colour)!important;
}

.mask-2vyqAW {
    border-radius: 0!important;
    -webkit-mask: none!important;
    mask: none!important;
}

.avatar-1BXaQj.avatar-1jmnc-.popout-UKvsJt,.connectedAccount-3mKaTA,.activity-AFBUEw,.headerPlaying-2eYqm9,.topSectionPlaying-3jAH9b,.headerStreaming-3F-wjT,.topSectionStreaming-3rIBIm {
	border:none!important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.userPopout-4pfA0d .status-3jUEha{
	width: 150%!important;
    height: 5%!important;
	top: -7%!important;
	left:-20%!important;
	border-radius: 0px!important;
	border-color:transparent!important;
	animation: pulse 3s infinite linear!important;
	opacity: 0.5!important;
}

#user-profile-modal .guilds .guild .status,.listAvatarStatus-1Egz5B{
    width: 10%!important;
    height: 100%!important;
    top: -6%!important;
    left: -22%!important;
    border-radius: 0px!important;
    border-color: transparent!important;
    animation: pulse 3s infinite linear!important;
    opacity: 6!important;
}

#user-profile-modal .guilds .guild:hover,#user-profile-modal .guilds .section .connected-accounts .connected-account,#user-profile-modal .guilds .section+.section,#user-profile-modal .avatarWrapper-2Gfmp1, #user-profile-modal .scroller,#user-profile-modal .avatar-wrapper,#user-profile-modal .empty,#user-profile-modal .tab-bar-container,#user-profile-modal .header:after,.userPopout-4pfA0d .body-3rkFrF, .headerNormal-1cioxU, .footer-2J5zqP,.quick-message,#user-profile-modal .header,.userPopout-4pfA0d,.topSectionNormal-2LlRG1,.theme-dark .body-3_tdh6{
	background:transparent!important;
	border: none!important;
}

.scroller-wrap.fade .scroller:hover:hover::-webkit-scrollbar-thumb, .scroller-wrap.fade .scroller:hover:hover::-webkit-scrollbar-track-piece, .scroller-wrap.fade:hover:hover::-webkit-scrollbar-thumb, .scroller-wrap.fade:hover:hover::-webkit-scrollbar-track-piece{
	display:none!important;
}

.avatar-profile,.inner-1_1f7b{
	border-radius: 0!important;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag,#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator,#user-profile-modal .tab-bar .tab-bar-item.selected,#user-profile-modal .tab-bar .tab-bar-item,#user-profile-modal .guilds .section .section-header,.note textarea,#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name,#user-profile-modal .guilds .guild,#user-profile-modal .guilds .guild .guild-nick,.headerUsernameNoNickname-1iGxNP,.headerTagNormal-KyD3_J,.headerActivityText-3qBQRo,.bodyTitleText-hSiL7d,#user-profile-modal .header .header-info .header-info-inner .activity,.discriminator-3KVlLu,.username-24t9uh,.tab-bar.tabBar-2z50ux .tabBarItem-1Lg555.selected,.tab-bar.tabBar-2z50ux .tabBarItem-1Lg555,.userInfoSectionHeader-pmdPGs,.connectedAccountName-3EFj01,.theme-dark .listRow-1wEi-U,.headerName-2N8Pdz, .headerTagUsernameNoNickname-1gGsAP,.headerTag-3zin_i,.theme-dark .activityProfile-2pymp0 .headerText-2CVBxK, .theme-dark .activityUserPopout-1nmgaw .headerText-2CVBxK, .theme-light .activityProfile-2pymp0 .headerText-2CVBxK, .theme-light .activityUserPopout-1nmgaw .headerText-2CVBxK,.theme-dark .activityProfile-2pymp0 .content-P9ThHS, .theme-dark .activityProfile-2pymp0 .details-vSFjFG, .theme-dark .activityProfile-2pymp0 .name-8onsv0, .theme-dark .activityUserPopout-1nmgaw .content-P9ThHS, .theme-dark .activityUserPopout-1nmgaw .details-vSFjFG, .theme-dark .activityUserPopout-1nmgaw .name-8onsv0, .theme-light .activityProfile-2pymp0 .content-P9ThHS, .theme-light .activityProfile-2pymp0 .details-vSFjFG, .theme-light .activityProfile-2pymp0 .name-8onsv0, .theme-light .activityUserPopout-1nmgaw .content-P9ThHS, .theme-light .activityUserPopout-1nmgaw .details-vSFjFG, .theme-light .activityUserPopout-1nmgaw .name-8onsv0,.emptyText-AUFSH0,#user-profile-modal .empty .empty-text{
	color:var(--Popout-Main-Colour)!important;
}

.avatarHint-2i5XWK{
	border-radius:0!important;
	width: 100%!important;
    height: 100%!important;
	top: -1.5%!important;
	left: -1.5%!important;
}
	
#user-profile-modal,.userPopout-4pfA0d,.inner-1_1f7b{
	background:var(--Popout-Background)50% 50%/cover!important;
	text-shadow: 0 0 6px var(--Popout-Text-Shadow-Colour), 0 0 6px var(--Popout-Text-Shadow-Colour), 0 0 5px var(--Popout-Text-Shadow-Colour), 0 0 4px var(--Popout-Text-Shadow-Colour)!important;
}

.member-roles .member-role {
    background-color: rgba(243, 243, 243, 0);
    border: 1px solid #dbdde1;
    border-radius: 3px;
    color: var(--Popout-Main-Colour);
}

.avatar-profile .status, .statusProfile-29OBzn {
    width: 766%!important;
    height: 10%!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    border: none!important;
    border-radius: 0px!important;
    top: -20%!important;
    animation: pulse 3s infinite linear!important;
    opacity: 0.5!important;
    left: -100%!Important;
}

.status-3jUEha:not(.statusProfile-29OBzn) {
    width: 1455%!important;
    height: 10%!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    border: none!important;
	border-radius: 0px!important;
    top: -12%!important;
    left: -55%!important;
	animation: pulse 3s infinite linear!important;
	opacity: 0.5!important;
}

.theme-dark .headerNormal-3Vn9nT {
    background-color: transparent;
}

.header-3budic {
    color: var(--Popout-Main-Colour);
    line-height: 20px;
}

.theme-dark .body-3ljq11, .theme-dark .footer-2wFs91 {
    background-color: transparent;
    color: var(--Popout-Main-Colour);
}

.theme-dark .footer-2wFs91 {
    display:none;
}

.userPopout-11hFKo {
    background: var(--Popout-Background);
}

.headerName-3U6eDn, .headerTagUsernameNoNickname-22Y2PV,.headerTag-I11IJx,.bodyTitle-18hsd9,.theme-dark .note-2AtC_s textarea{
	color: var(--Popout-Main-Colour)!important;
}

.theme-dark .note-2AtC_s textarea:focus {
    background-color: var(--S-Colour);
}

.headerSpotify-26yUf5,.headerPlaying-2Q7mBy,.headerStreaming-lmgoma {
    background: transparent;
}

.lookOutlined-1c5nhl.colorWhite-1IbOTe {
    border-color: var(--M-Colour);
	color: var(--M-Colour);
}

.lookOutlined-1c5nhl.colorWhite-1IbOTe:hover {
    border-color: var(--Main-Colour);
	color: var(--Main-Colour);
}

/* New UserPopouts */

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}

