//META{"name":"User_Popout","description":"Changes The User Popout Look,  Enable This Theme LAST For it To Take Effect","author":"NFLD99","version":"6.0"}*//{}

:root {
  --Popout-Main-Colour: rgba(0, 226, 204, 1);
  --Popout-Background: url(https://i.imgur.com/DOFpZY5.jpg) ;
  --Popout-Text-Shadow-Colour:rgba(0,0,0, .45);
}

/* New UserPopouts */
.userPopout-3XzG_A .avatar-16XVId {
    background-clip: padding-box!important;
    position: relative!important;
    background: 50% 50%/cover!important;
    border-radius: 10px!important;
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
	width: 200px!important;
    height: 200px!important;
	border: none!important;
}

.avatarHint-1qgaV3 {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    right: 0!important;
    z-index: 2!important;
    border-radius: 5%!important;
    -webkit-box-shadow: inset 0 0 120px rgba(0,0,0,.75)!important;
    box-shadow: inset 0 0 120px rgba(0,0,0,.75)!important;
    font-weight: 700!important;
    font-size: 10px!important;
    line-height: 12px!important;
    text-transform: uppercase!important;
    margin: 3px!important;
    opacity: 0!important;
    -webkit-transition: opacity .1s ease!important;
    transition: opacity .1s ease!important;
}

.userPopout-3XzG_A .footer-1fjuF6,.emptyIconFriends-BrjhY9,#user-profile-modal .empty .empty-icon-friends{
  display:none !important;
}

.emptyText-6tYmO5:after,#user-profile-modal .empty .empty-text:after{
	content: ". You Should Get Out More.";
	max-width: 4000px;
	max-height: 200px;
	line-height: 26px;
	text-transform: ;
	color:var(--Popout-Main-Colour)!important;
}

.mask-3OgeRz {
    border-radius: 0!important;
    -webkit-mask: none!important;
    mask: none!important;
}

.avatar-16XVId.avatar-16XVId.popout-2fzvxG,.connectedAccount-36nQx7,.activity-11LB_k,.headerPlaying-j0WQBV,.topSectionPlaying-1J5E4n,.headerStreaming-2FjmGz,.topSectionStreaming-1Tpf5X {
	border:none!important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.userPopout-3XzG_A .status-oxiHuE{
	width: 150%!important;
    height: 5%!important;
	top: -7%!important;
	left:-20%!important;
	border-radius: 0px!important;
	border-color:transparent!important;
	animation: pulse 3s infinite linear!important;
	opacity: 0.5!important;
}

#user-profile-modal .guilds .guild .status,.listAvatarStatus-3qssrV{
    width: 10%!important;
    height: 100%!important;
    top: -6%!important;
    left: -22%!important;
    border-radius: 0px!important;
    border-color: transparent!important;
    animation: pulse 3s infinite linear!important;
    opacity: 6!important;
}

#user-profile-modal .guilds .guild:hover,#user-profile-modal .guilds .section .connected-accounts .connected-account,#user-profile-modal .guilds .section+.section,#user-profile-modal .avatarWrapper-3H_478, #user-profile-modal .scroller,#user-profile-modal .avatar-wrapper,#user-profile-modal .empty,#user-profile-modal .tab-bar-container,#user-profile-modal .header:after,.userPopout-3XzG_A .body-3iLsc4, .headerNormal-T_seeN, .footer-1fjuF6,.quick-message,#user-profile-modal .header,.userPopout-3XzG_A,.topSectionNormal-2-vo2m,.theme-dark .body-3ND3kc{
	background:transparent!important;
	border: none!important;
}

.scroller-wrap.fade .scroller:hover:hover::-webkit-scrollbar-thumb, .scroller-wrap.fade .scroller:hover:hover::-webkit-scrollbar-track-piece, .scroller-wrap.fade:hover:hover::-webkit-scrollbar-thumb, .scroller-wrap.fade:hover:hover::-webkit-scrollbar-track-piece{
	display:none!important;
}

.avatar-profile,.inner-1JeGVc{
	border-radius: 0!important;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag,#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator,#user-profile-modal .tab-bar .tab-bar-item.selected,#user-profile-modal .tab-bar .tab-bar-item,#user-profile-modal .guilds .section .section-header,.note textarea,#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name,#user-profile-modal .guilds .guild,#user-profile-modal .guilds .guild .guild-nick,.headerUsernameNoNickname-1iGxNP,.headerTagNormal-KyD3_J,.headerActivityText-gcopRr,.bodyTitle-Y0qMQz,#user-profile-modal .header .header-info .header-info-inner .activity,.discriminator-xUhQkU,.username-3gJmXY,.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP.selected,.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP,.userInfoSectionHeader-CBvMDh,.connectedAccountName-f8AEe2,.theme-dark .listRow-hutiT_,.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881,.headerTag-2pZJzA,.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7, .theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-light .activityProfile-2bJRaP .headerText-1HLrL7, .theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7,.theme-dark .activityProfile-2bJRaP .content-3JfFJh, .theme-dark .activityProfile-2bJRaP .details-38sfDr, .theme-dark .activityProfile-2bJRaP .name-29ETJS, .theme-dark .activityUserPopout-2yItg2 .content-3JfFJh, .theme-dark .activityUserPopout-2yItg2 .details-38sfDr, .theme-dark .activityUserPopout-2yItg2 .name-29ETJS, .theme-light .activityProfile-2bJRaP .content-3JfFJh, .theme-light .activityProfile-2bJRaP .details-38sfDr, .theme-light .activityProfile-2bJRaP .name-29ETJS, .theme-light .activityUserPopout-2yItg2 .content-3JfFJh, .theme-light .activityUserPopout-2yItg2 .details-38sfDr, .theme-light .activityUserPopout-2yItg2 .name-29ETJS,.emptyText-6tYmO5,#user-profile-modal .empty .empty-text{
	color:var(--Popout-Main-Colour)!important;
}

.avatarHint-1qgaV3{
	border-radius:0!important;
	width: 100%!important;
    height: 100%!important;
	top: -1.5%!important;
	left: -1.5%!important;
}
	
#user-profile-modal,.userPopout-3XzG_A,.inner-1JeGVc{
	background:var(--Popout-Background)50% 50%/cover!important;
	text-shadow: 0 0 6px var(--Popout-Text-Shadow-Colour), 0 0 6px var(--Popout-Text-Shadow-Colour), 0 0 5px var(--Popout-Text-Shadow-Colour), 0 0 4px var(--Popout-Text-Shadow-Colour)!important;
}

.member-roles .member-role {
    background-color: rgba(243, 243, 243, 0);
    border: 1px solid #dbdde1;
    border-radius: 3px;
    color: var(--Popout-Main-Colour);
}

.avatar-profile .status, .statusProfile-3ynqtt {
    width: 766%!important;
    height: 10%!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    border: none!important;
    border-radius: 0px!important;
    top: -20%!important;
    animation: pulse 3s infinite linear!important;
    opacity: 0.5!important;
    left: -100%!Important;
}
/* User Status 2 */
/* DND */
.statusDnd-2DDKST:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #f04747!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* ONLINE */
.statusOnline-1FlpW_:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #43b581!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* AWAY */
.statusIdle-1XoSCz:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #faa61a!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* STREAM */
.statusStreaming-2eqoUF:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #593695!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* OFFLINE */
.avatarOffline-3GF27z:not(.statusProfile-3ynqtt){
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #747f8d!important;
    border-radius: 5px !important;
}
.statusOffline-3R-4Bv:not(.statusProfile-3ynqtt){
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #747f8d!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
}
/* User Status 2 */

.image-33JSyf, .status-oxiHuE {
    border-radius: 0%;
}

.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}

.header-2BwW8b {
    color: var(--Popout-Main-Colour);
    line-height: 20px;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
    color: var(--Popout-Main-Colour);
}

.theme-dark .footer-1fjuF6 {
    display:none;
}

.userPopout-3XzG_A {
    background: var(--Popout-Background);
}

.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881,.headerTag-2pZJzA,.bodyTitle-Y0qMQz,.theme-dark .note-3kmerW textarea{
	color: var(--Popout-Main-Colour)!important;
}

.theme-dark .note-3kmerW textarea:focus {
    background-color: var(--S-Colour);
}

.headerSpotify-zpWxgT,.headerPlaying-j0WQBV,.headerStreaming-2FjmGz {
    background: transparent;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-color: var(--M-Colour);
	color: var(--M-Colour);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    border-color: var(--Main-Colour);
	color: var(--Main-Colour);
}

/* New UserPopouts */

@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

