.containerCozy-336-Cz,.container-1ov-mD{
    background: var(--Secondary-Background-Colour);
    border: 1px solid var(--Main-Colour);
    margin-Top: -4px;
    margin-right: 10px;
    margin-left: -25px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 20px;
    
}
.clickableHeader-2Cygs8 .avatar-1BDn8e{
    Margin-top:-3px;
    left: 10px;
}    
.zalgo-jN1Ica .messageContent-2qWWxC{
    padding-bottom: 2px;
    padding-left: 20px;
}
.groupStart-23k01U {
    box-shadow: none;
}
.timestamp-3ZCmNB.latin24CompactTimeStamp-2V7XIQ{
    top: -2px;
    margin-left: 48px;
}
.isHeader-2dII4U{
    margin-right: 35px;
    margin-top:-5px;
}
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx{
    right: 15px;
}
.markupRtl-3M0hmN {
    text-align: left;
    text-indent: 18px;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
}
.timestampCompact-29LLPQ{
    top: -5px;
  left: 45px;
}