/*Original chat bubbles*/
.containerCozy-336-Cz,.container-1ov-mD{
  background: var(--Secondary-Background-Colour);
  border: 1px solid var(--Main-Colour);
  margin-Top: -1px;
  margin-right: 0px;
  margin-left: 2px;
  padding-top: 29px;
  padding-bottom: 25px;
  border-radius: 12px;
}

 .groupStart-23k01U:before {
  content: '';
  position: absolute;
  margin-Top: 29px;
  left: 67px;
  width: 0px;
  height: 1px;
  border-top: 10px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--Main-Colour);
}

.clickableHeader-2Cygs8 .avatar-1BDn8e{
  left: 9px;
  margin-top: 12px;
}

.username-1A8OIy{
  margin-left: 10px;
}

.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
  margin-left: 12px;
  top: 35px;
}

.groupStart-23k01U {
  box-shadow: none;
}

.timestampCompact-29LLPQ{
  left: 58px;
}

.markupRtl-3M0hmN {
  text-align: left;
  text-indent: 5px;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
}