//META{"name":"FNaF","description":"Github: https://git.io/v7ovg    |   Support Server: https://discord.gg/kWRYPrq    |  Website: https://nfld99.com/","author":"NFLD99","version":"ersion auto updates"}*//{} 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_1_Guild_Row/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_2_Guild_Rows/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_3_Guild_Rows/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Animations/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Fonts/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Minimal/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Popup/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Guilds/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Invites/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Offline/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Popout_Footer/Yes.css);
 @import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Transparency/No.css);
:root {
  --Main-Colour: rgba(254,202,88,1);
  --Background-Colour: rgba(15,15,15,1);
  --S-Colour: rgba(15,15,15,.3);
  --M-Colour: rgba(254,202,88,.5);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(254,202,88,0);
  --Notification-Colour: rgba(254,202,88,1);
  --Chat-Input-Background: rgba(15,15,15,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/ByrHRFo.jpg);
  --Settings-Background: url(https://i.imgur.com/ByrHRFo.jpg);
  --Callout-Background: url(https://i.imgur.com/ByrHRFo.jpg);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " FNaF";
  --Chat-Font-Used: ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--S-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--M-Colour);
  --Background-Brightness: 0.65;
}
