//META{"name":"ReZero_ReDone","description":"Github: https://git.io/v7ovg    |   Support Server: https://discord.gg/kWRYPrq    |  Website: https://nfld99.com/","author":"NFLD99","version":"ersion auto updates"}*//{} 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css); 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_1_Guild_Row/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_2_Guild_Rows/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_3_Guild_Rows/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Animations/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Fonts/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Minimal/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Popup/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Guilds/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Invites/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Offline/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Popout_Footer/Yes.css);
:root {
  --Main-Colour: rgba(182, 155, 241,1);
  --Background-Colour: rgba(50,42,88,1);
  --S-Colour: rgba(50,42,88,.3);
  --M-Colour: rgba(182, 155, 241,.5);
  --Text-Shadow-Colour: rgba(50,42,88,.65);
  --Scroller-Colour: rgba(182, 155, 241,0);
  --Notification-Colour: rgba(182, 155, 241,1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url("https://i.imgur.com/w7UVsOs.jpg");
  --Settings-Background: url("https://i.imgur.com/NUhSyNd.jpg");
  --Callout-Background: url(https://i.imgur.com/eeDIMtw.jpg);
  --Title-Background: rgba(50, 42, 88, 0.64);
  --Theme-Variant: " ReZero ReDone";
  --Chat-Font-Used: ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--S-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
  --Background-Brightness: 0.54;
}

.container-2OU7Cz,.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ{
  background: rgba(50, 42, 88, var(--Background-Brightness)) !important;
}