body:before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background: #e6e600;
    content: "Update #12 Available!";
    animation: fadeUpdateNotification linear 6s 1 normal forwards;
    animation-delay: 3s;
    z-index: 999999999;
    line-height: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
    opacity: 1;
}

@keyframes fadeUpdateNotification {
    0% { opacity: 1; }
    100% { opacity: 0; content: initial; }
    0%,99.9% { content: "Update #12 Available!"; }
}