/* Giulds */
.guilds-wrapper-5TJh6A{
	min-width:10px!important;
	max-width:240px!important;
	width:10px;
	transition: all .5s;
	opacity: 0;
}

.guilds-wrapper-5TJh6A:hover{
	width:100px;
	transition: all .6s;
	opacity: 1;
}
