/* Giulds */
.guildsWrapper-5TJh6A{
	min-width:10px!important;
	max-width:240px!important;
	width:10px;
	transition: all .5s;
	opacity: 0;
}

.guildsWrapper-5TJh6A:hover{
	width:auto;
	transition: all .6s;
	opacity: 1;
}